.text-hello {
  animation-name: example;
  animation-duration: 4s;
  width: fit-content;
  position: relative;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    color: yellow;
    left: 50px;
    top: 0px;
  }
  50% {
    color: blue;
    left: 50px;
    top: 50px;
  }
  75% {
    color: green;
    left: 0px;
    top: 50px;
  }
  100% {
    color: red;
    left: 0px;
    top: 0px;
  }
}
