<style>body {
    font-family: Arial, sans-serif;
}

#nav-bar {
    overflow: hidden;
    background-color: #333;
}

#nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

#side-nav {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

#side-nav a:hover {
    color: #f1f1f1;
}

#main-content {
    margin-left: 200px;
    /* Same as the width of the sidenav */
}

#main-content h2,
#main-content p {
    padding-left: 10px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}

</style>